extends layout

block content
  link(rel="stylesheet", href="/css/login.css")
  .container
    .form(action="")
      h3.form-signin-heading
        span Welcome Back!
        br
        span Please Sign In
      input.form-control(type="text" name="Username" placeholder="Username")
      input.form-control(type="password" name="password" placeholder="Password")
      a(href="/")
        button.btn.btn-lg.btn-primary.btn-block Login
      span="Don't have an account? "
      a(href="/register") Sign&nbsp;Up&nbsp;here.